.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffffff;
}

.Container {
  border: 3px solid #686868;
  background: #fff;
  box-shadow: #64646f33 0px 7px 29px 0px;
  border-radius: 20px;
  display: flex;
  height: 40vh;
  width: 45vw;
  padding: 2vh 4vw 2vh 1vw;
  cursor: pointer;
}

.ImgContainer {
  margin: 0 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 18vw;
  border-radius: 20px;
  transition: 0.2s all ease-in-out;
}

.ImgContainer:hover {
  background: linear-gradient(270deg, #ffffff80 0%, #ffffff80 100%),
    url("./assets//person.jpeg");
}

.CardImg {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 100%;
  width: 17vw;
  object-fit: cover;
  border-radius: 20px;
  transition: 0.2s all ease-in-out;
}

.CardImg:hover {
  transform: rotate(3deg);
}

.ContentContainer {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(270deg, #ffffffe3 0%, #ffffffe3 100%),
    url("./assets/approved.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ContentHeading {
  display: flex;
  padding: 1vh 1vw;
  font-weight: 800;
  font-size: 3vh;
}

.ContentBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1vh 1vw;
}

.ContentBodyField {
  display: flex;
  width: 100%;
  margin: 1vh 0;
}

.ContentBodyFieldTitle {
  font-weight: 700;
}

.ContentBodyFieldText {
  font-weight: 400;
}

.ContentFlag {
  padding: 6vh 0;
  filter: saturate(90%);
}

.ContentFlagImg {
  height: 10vh;
  transition: 0.1s ease-in-out all;
}

.ContentFlagImg:hover {
  filter: saturate(85%);
}
