.App {
  border: 1px solid red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  border: solid 5px green;
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  position: relative;
}

.img1,
.img2,
.img3,
.img4 {
  width: 200px;
  height: 300px;
  position: absolute;
  display: flex;
  border-radius: 10px;
  transform: translateY(20%);
}
.img1 {
  background-color: red;
}
.False2 {
  right: 150px;
  height: 250px;
  margin-top: 20px;
}

.img2 {
  background-color: black;
}

.img3 {
  background-color: yellow;
}
.False1 {
  left: 150px;
  height: 250px;
  margin-top: 20px;
}

.img4 {
  background-color: green;
}
