.AnimatedCarousel {
  /* border: 1px solid red; */
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AnimatedCarouselImgsContainer {
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AnimatedCarouselContentContainer {
  /* border: 1px solid pink; */
  height: 100%;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5vw;
}

.AnimiatedCarouselImgs {
  /* border: 1px solid red; */
  height: 70vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AnimiatedCarouselImageOne,
.AnimiatedCarouselImageTwo,
.AnimiatedCarouselImageThree,
.AnimiatedCarouselImageFour {
  width: 20vw;
  height: 45vh;
  position: absolute;
  display: flex;
  border-radius: 10px;
}

.AnimiatedCarouselImageOne {
  background-color: red;
}

.AnimiatedCarouselImageTwo {
  background-color: black;
}

.AnimiatedCarouselImageThree {
  background-color: yellow;
}

.AnimiatedCarouselImageFour {
  background-color: green;
}
